%table.table
  %thead
    %tr
      %th= t 'activerecord.models.pull'
      %th= t 'activerecord.models.repo'
      %th= t 'activerecord.attributes.repo.private'
  %tbody
    - @pulls.each do |pull|
      %tr
        %td= pull.title
        %td= pull.repo_full_name
        %td= pull.repo_private
