.col-xs-12
  .container
    .page-header
      %h3 マイページ
    %table.table.table-bordered.text-center
      %thead
        %tr
          %th
            %i.far.fa-check-circle
            &nbsp;
            = t '.reviewed_pulls_count'
          %th
            %i.fas.fa-yen-sign
            &nbsp;
            報酬
      %tbody
        %tr
          %td= @reviewed_pulls.count
          %td
            - if current_reviewer.reviews.comment.sum(:working_hours) > 0
              = number_to_currency(current_reviewer.reviews.comment.sum(:working_hours) * 100)
            - else
              0円
    // 審査中
    .page-header
      %h5
        %b
          %i.fas.fa-hourglass-start
          &nbsp;
          審査中
    - if @pending_reviews.present?
      .panel.panel-default
        .panel-body
          %table.table.table-hover.pulls-on-dashboard-wrapper
            %thead
              %tr
                %th.col-sm-6= t 'activerecord.attributes.pull.title'
                %th.col-sm-3= t 'activerecord.models.skill'
                %th.col-sm-3= t 'activerecord.attributes.repo.private'
            %tbody
              - @pending_reviews.each do |pending_review|
                %tr
                  %td= pending_review.pull.title
                  %td.text-center
                    %span.label.label-warning= pending_review.pull.repo.skillings.first.skill.name
                  %td.text-center= pending_review.pull.repo_private
          .text-center= paginate @reviewed_pulls
    - else
      審査中のレビューはありません。
    // 完了
    .page-header
      %h5
        %b
          %i.far.fa-check-circle
          &nbsp;
          完了
    - if @reviewed_pulls.present?
      .panel.panel-default
        %table.table.table-hover.pulls-on-dashboard-wrapper
          %thead
            %tr
              %th.col-sm-6= t 'activerecord.attributes.pull.title'
              %th.col-sm-3= t 'activerecord.models.skill'
              %th.col-sm-2= t 'activerecord.attributes.repo.private'
              %th.col-sm-1
          %tbody
            - @reviewed_pulls.each do |reviewed_pull|
              %tr
                %td= link_to reviewed_pull.title&.truncate(40), reviewers_pull_path(reviewed_pull)
                %td.text-center
                  %span.label.label-warning= reviewed_pull.repo.skillings.first.skill.name
                %td.text-center= reviewed_pull.repo_private
                %td.text-center
                  = link_to reviewers_pull_path(reviewed_pull), class: 'btn btn-block btn-outline-primary' do
                    %i.fas.fa-eye
                    &nbsp;
                    = t('helpers.links.confirm')
        .text-center= paginate @reviewed_pulls
    - else
      完了したプルリクエストはありません。
