.col-xs-12
  .container
    .page-header
      %h3 マイページ
    %table.table.table-bordered.text-center
      %thead
        %tr
          %th= t '.working_pulls_count'
          %th= t '.reviewed_pulls_count'
          %th 報酬
      %tbody
        %tr
          %td= @working_pulls.count
          %td= @reviewed_pulls.count
          %td
            - if current_reviewer.reviews.comment.sum(:working_hours) > 0
              = number_to_currency(current_reviewer.reviews.comment.sum(:working_hours) * 100)
            - else
              0円
    // 作業中
    .page-header
      %h3= t '.working_pulls_count'
    - if @working_pulls.present?
      %table.table.table-hover.pulls-on-dashboard-wrapper
        %thead
          %tr
            %th= t 'activerecord.attributes.pull.title'
            %th= t 'activerecord.models.skill'
            %th= t 'activerecord.attributes.repo.private'
            %th= t '.remaining_time'
            %th
        %tbody
          - @working_pulls.each do |pull|
            %tr
              %td= link_to pull.title&.truncate(40), reviewers_pull_path(pull)
              %td.text-center
                %span.label.label-warning= pull.repo.skillings.first.skill.name
              %td.text-center= pull.repo_private
              %td.text-center= pull.remaining_time
              %td.text-center= link_to t('helpers.links.confirm'), reviewers_pull_path(pull), class: 'btn btn-outline-primary w-50'
    - else
      作業中のプルリクエストはありません。
    // 審査中
    .page-header
      %h3 審査中
    - if @pending_reviews.present?
      %table.table.table-hover.pulls-on-dashboard-wrapper
        %thead
          %tr
            %th= t 'activerecord.attributes.pull.title'
            %th= t 'activerecord.models.skill'
            %th= t 'activerecord.attributes.repo.private'
        %tbody
          - @pending_reviews.each do |pending_review|
            %tr
              %td= pending_review.pull.title
              %td.text-center
                %span.label.label-warning= pending_review.pull.repo.skillings.first.skill.name
              %td.text-center= pending_review.pull.repo_private
      .text-center= paginate @reviewed_pulls
    - else
      審査中のレビューはありません。
    // 完了
    .page-header
      %h3 完了
    - if @reviewed_pulls.present?
      %table.table.table-hover.pulls-on-dashboard-wrapper
        %thead
          %tr
            %th= t 'activerecord.attributes.pull.title'
            %th= t 'activerecord.models.skill'
            %th= t 'activerecord.attributes.repo.private'
            %th
        %tbody
          - @reviewed_pulls.each do |reviewed_pull|
            %tr
              %td= link_to reviewed_pull.title&.truncate(40), reviewers_pull_path(reviewed_pull)
              %td.text-center
                %span.label.label-warning= reviewed_pull.repo.skillings.first.skill.name
              %td.text-center= reviewed_pull.repo_private
              %td.text-center= link_to t('helpers.links.confirm'), reviewers_pull_path(reviewed_pull), class: 'btn btn-outline-primary w-50'
      .text-center= paginate @reviewed_pulls
    - else
      完了したプルリクエストはありません。
