.panel.panel-default
  .panel-heading
    %b.text-right= l resource.created_at
  .table-wrapper
    %table.table.table-hover
      %tbody
        - dir_or_files.each do |dir_or_file|
          - if (dir_or_file.dir? && dir_or_file.children.showing.present?) || (dir_or_file.file? && dir_or_file.showing?) || dir_or_file.repo.showing?
            %tr
              %td.file-name.col-sm-11
                = link_to [:reviewers, dir_or_file.repo, dir_or_file] do
                  %i.fas{ class: dir_or_file.dir? ? 'fa-folder' : 'fa-file' }
                  &nbsp;
                  = dir_or_file.name
- if readme && readme.showing?
  .panel.panel-default
    .panel-heading= readme.name
    .panel-body
      .md-wrapper
        = markdown(readme.decorate.decode_by_base64)
