.pull-show-tab-wrapper
  %ul.nav.nav-justified
    %li.nav-item
      = link_to pull, class: 'nav-link' do
        %i.glyphicon.glyphicon-comment
        = t 'reviewers.pulls.show.conversation'
    %li.nav-item
      = link_to pull_files_path(pull), class: 'nav-link' do
        %i.glyphicon.glyphicon-file
        = t 'reviewers.pulls.show.changed_files'
        %span.badge.badge-default= changed_files&.count
