.col-xs-12
  .panel.panel-default
    .panel-body
      .panel-text
        .col-xs-1
          - if review.reviewer.present?
            = image_tag review.reviewer.github_account.avatar_url, class: 'review-comment-img avatar img-responsive rounded'
          - else
            = image_tag 'reviewer.jpg', class: 'review-comment-img avatar img-responsive rounded'
        .col-xs-11.comment-body
          .nickname
            - if review.reviewer.present?
              = review.reviewer.github_account.nickname
            - else
              Reviewee
          %small.text-muted= date_format(review.updated_at)
          .col-xs-12= markdown(review.body)
