.col-xs-1
  - if review_comment.reviewer.present?
    = image_tag review_comment.reviewer.github_account.avatar_url, class: 'review-comment-img avatar img-responsive rounded'
  - else
    = image_tag 'https://i.imgur.com/8wkEd8n.jpg', class: 'review-comment-img avatar img-responsive rounded'
.col-xs-11.comment-body
  .nickname
    - if review_comment.reviewer.present?
      = review_comment.reviewer.github_account.nickname
    - else
      ghost
  %small.text-muted= date_format(review_comment.updated_at)
  .col-xs-12= markdown(review_comment.body)
