.col-xs-12
  .page-header{ 'pull-id': @pull.id }
    %h3= @pull.title
  = render 'reviewers/shared/tab', pull: @pull

  .pulls-show-wrapper
    .col-xs-12.col-sm-10
      .pulls-show-card
        - if @pull.agreed?
          .text-danger= t '.expiured_at', time: (l (@pull.updated_at + 2.hours).to_time)
        - if @pull.body.present?
          .pull-body-wrapper
            .card
              .card-header= t '.reviewee_comment'
              .card-body
                %p#marked-body.card-text
        - unless @pull.agreed?
          .changed-file-title
            %i.glyphicon.glyphicon-file
            = t 'reviewers.pulls.show.changed_files'
            %span.badge.badge-default= @pull.changed_files.count
          %hr
          - if @changed_files.present?
            - @changed_files.each do |changed_file|
              .js-blob-wrapper
                .card.changed-file-wrapper
                  .card-header= changed_file.filename
                  .card-body.file-border{ 'changed-file-id': changed_file.id }
                    %p.card-text
                      %table
                        %thead
                          %tr
                            %th{ scope: 'col' }
                        - changed_file.patch.each_line.with_index do |line, index|
                          %tbody
                            %tr
                              %td.hidden= index
                              - if line.start_with?('+')
                                %td.markdown-highlight.bg-success= changed_file.coderay(line)
                              - elsif line.start_with?('-')
                                %td.markdown-highlight.bg-danger= changed_file.coderay(line)
                              - elsif line.start_with?('@@')
                                %td.markdown-highlight.bg-primary= simple_format(line)
                              - else
                                %td.markdown-highlight= changed_file.coderay(line)
                            - if changed_file.present_review_comment?(index)
                              %tr
                                %td
                                  .review-comments
                                    .card
                                      - unless changed_file.reviewed?(index)
                                        .card-header
                                          %span.label.label-warning Pending
                                      .card-body
                                        %p.card-text{ 'review-comment-id': changed_file.review_comment_id(index) }
                                          = changed_file.review_comment_body(index)
            - unless @pull.reviewed? || @pull.completed?
              = link_to @pull.decorate.link_title_by_status, reviewers_pull_path(@pull, status: @pull.status), method: :put, class: "btn btn-block #{@pull.decorate.btn_class_by_status}"
          - else
            = t '.no_changhed_files'
    .col-xs-12.col-sm-2
      .text-center
        .label.label-default= @pull.status_i18n
      %hr
      - unless @pull.reviewed? || @pull.completed?
        = link_to @pull.decorate.link_title_by_status, reviewers_pull_path(@pull, status: @pull.status), method: :put, class: "btn btn-block #{@pull.decorate.btn_class_by_status}"
= javascript_pack_tag 'marked'
