.row
  .col-sm-3
    = render 'admins/shared/side_nav'
  .col-sm-9
    .page-header
      %h4= t '.title'
    %table.table.table-hover.pulls-on-dashboard-wrapper.text-center
      %thead
        %tr
          %th= t 'activerecord.attributes.review.id'
          %th= t 'activerecord.attributes.review.body'
          %th= t 'activerecord.attributes.review.event'
          %th= t 'activerecord.attributes.review.state'
          %th= t 'activerecord.attributes.review.working_hours'
          %th
      %tbody
        - @reviews.each do |review|
          %tr
            %td= review.id
            %td= review.body&.truncate(55)
            %td= review.event_i18n
            %td= review.state
            %td= review.working_hours
