.reviewee-wikis-index-wrapper
  .col-xs-12
    .container
      .row
        .content-show-wrapper
          .page-header
            %h3= @repo.full_name
          = render 'reviewers/shared/repos/tab', repo: @repo
      .row
        - if @wikis.present?
          .col-sm-12.p-r-0.p-l-0.header
            .page-header
              %h3= @home_wiki.title
      .row
        - if @wikis.present?
          .col-sm-8.p-l-0
            - if @home_wiki
              .md-wrapper= markdown(@home_wiki.body)
          .col-sm-4.p-r-0
            .panel.panel-default
              .table-wrapper
                %table.table.table-hover
                  %tbody
                    = render @home_wiki, repo: @repo
                    = render @wikis, repo: @repo
        - else
          .wiki-import-btn.text-center
            %p 公開されているpageはありません
= javascript_pack_tag 'update-resource'
