.reviewee-wikis-wrapper
  .col-xs-12
    .container
      .row
        .content-show-wrapper
          .page-header
            %h3= @repo.full_name
          = render 'reviewers/shared/repos/tab', repo: @repo
      .row
        .col-sm-12.p-r-0.p-l-0.header
          .page-header
            %h3= @wiki.title
      .row
        .col-sm-8.p-l-0
          .md-wrapper= markdown(@wiki.body)
        .col-sm-4.p-r-0
          .panel.panel-default
            .table-wrapper
              %table.table.table-hover
                %tbody
                  = render @home_wiki, repo: @repo
                  = render @wikis, repo: @repo
