%table.table.table-hover.pulls-on-dashboard-wrapper.text-center
  %thead
    %tr
      %th= t 'activerecord.attributes.reviewer/github.nickname'
      %th= t 'activerecord.attributes.reviewer/github.avatar_url'
      %th= t 'activerecord.attributes.reviewer/github.email'
      %th= t 'activerecord.attributes.reviewer/github.user_type'
      %th= t 'activerecord.attributes.reviewer/github.public_repos'
      %th= t 'activerecord.attributes.reviewer/github.public_gists'
      %th
  %tbody
    - @pending_reviewers.each do |pending_reviewer|
      %tr
        %td= link_to pending_reviewer.github_account&.nickname, pending_reviewer.github_account&.html_url
        - if pending_reviewer.github_account&.avatar_url
          %td
            .col-xs-2= image_tag pending_reviewer.github_account&.avatar_url, size: '10×10', class: 'img-thumbnail img-responsive'
        %td= pending_reviewer.github_account&.email
        %td= pending_reviewer.github_account&.user_type
        %td= pending_reviewer.github_account&.public_repos
        %td= pending_reviewer.github_account&.public_gists
        %td.text-center= link_to t('helpers.links.confirm'), reviewers_pull_path(pull)
