.setting-integrations-wrapper
  .col-xs-12
  = render 'reviewees/shared/settings/side_nav'
  .col-sm-8
    %h4
      %i.fab.fa-github
      = t('views.integrations.github')
    %hr
    .card
      .card-body
        %p.card-text.text-muted GitHubアカウント連携の設定をします。
        - if current_reviewee.github_account&.owner_id
          = link_to t('reviewees.settings.integrations.title'), ENV['GITHUB_APP_URL'], target: '_blank', class: 'btn btn-primary'
        - else
          = link_to '/auth/github', class: 'btn btn-primary' do
            %i.github.icon
            = t('reviewees.settings.integrations.connect')
