%tr
  %td.file-name.col-sm-11
    = link_to [:reviewees, content.repo, content] do
      %i.fas{ class: content.dir? ? 'fa-folder' : 'fa-file' }
      &nbsp;
      = content.name
  %td.col-sm-1.text-right
    %button{ type: 'button',
      class: "btn #{t("views.statuses.buttons.#{content.status}")} update-dir-file-button",
      'content-id': content.id,
      'repo-id': content.repo.id }= t "views.statuses.text.#{content.status}"
