.col-xs-12
  .container
    .row
      .content-show-wrapper
        .page-header
          .pull-right
            = link_to t("reviewees.repos.index.#{@repo.status}"),
              reviewees_repo_path(@repo),
              method: :put,
              class: "btn #{t("views.statuses.buttons.#{@repo.status}")}"
          %h3= @repo.full_name
        = render 'reviewees/shared/repos/tab', repo: @repo
        - if @dir_or_files.present?
          .panel.panel-default
            .table-wrapper
              %table.table.table-hover
                %tbody
                  = render @dir_or_files, repo: @repo
          - if @readme
            .panel.panel-default
              .panel-heading= @readme.name
              .panel-body
                .md-wrapper
                  = markdown(@readme.content)
        - else
          = form_with url: import_reviewees_repo_contents_path(@repo), multipart: true, class: 'form-horizontal' do |f|
            .form-group
              = f.label '.wiki.zip', class: 'col-sm-4 control-label'
              .col-xs-12.col-sm-8
                .form-control-static= f.file_field :file, required: true

            .form-group
              .col-sm-4.col-sm-offset-4
                = f.submit 'インポート', class: 'btn btn-outline-primary btn-block'
= javascript_pack_tag 'update-resource'
