.col-xs-12
  .container
    .row
      .content-show-wrapper
        .page-header
          .pull-right= link_to t("reviewees.repos.index.#{@repo.status}"), reviewees_repo_path(@repo), method: :put, class: "btn #{t("contents.views.buttons.#{@repo.status}")}"
          %h3= @repo.full_name
        = render 'reviewers/shared/repos/tab', repo: @repo
        = render 'dirs', resource: @repo, dir_or_files: @dir_or_files
