.col-xs-12
  .container
    .row
      .content-show-wrapper
        - if @content.dir?
          .panel.panel-default
            .panel-heading
              %b.text-right= l @content.created_at
            .table-wrapper
              %table.table.table-hover
                %tbody
                  - @contents.each do |content|
                    %tr
                      %td.file-name.col-sm-11
                        = link_to [:reviewees, content.repo, content] do
                          %i.fas{ class: content.dir? ? 'fa-folder' : 'fa-file' }
                          &nbsp;
                          = content.name
                      %td.col-sm-1.text-right= link_to '公開', '#', class: 'btn btn-primary'
        - else
          %h6= @content.path
          .panel.panel-default
            .panel-heading
              %b= t 'views.bytes', byte: @content.size
            .table-wrapper
              %table
                %thead
                  %tr
                    %th{ scope: 'col' }
                - Base64.decode64(@content.content)&.each_line&.with_index do |line, index|
                  %tbody
                    %tr
                      %td.index= index
                      %td.file-code= coderay(line, @content.path)
