.col-xs-12
  .container
    .row
      .content-show-wrapper
        .page-header
          %h4= @content.decorate.breadcrumbs
        - if @content.dir?
          .panel.panel-default
            .table-wrapper
              %table.table.table-hover
                %tbody
                  = render @dir_or_files, repo: @repo
        - else
          .panel.panel-default
            .panel-heading
              %b= t 'views.bytes', byte: @content.size
            .table-wrapper
              %table
                %thead
                  %tr
                    %th{ scope: 'col' }
                - if @file.content
                  - @content.decorate.decode_by_base64&.each_line&.with_index do |line, index|
                    %tbody
                      %tr
                        %td.index= index
                        %td.file-code= coderay(line, @content.path)
= javascript_pack_tag 'update-resource'
