.col-xs-12.col-sm-4
  %ul.nav.nav-pills.nav-stacked
    %li.active
      = link_to t('users.settings.integrations.title'), users_settings_integrations_path
    %li
      = link_to t('users.registrations.edit.title'), edit_user_registration_path
.col-xs-12.col-sm-8
  .panel.panel-default
    .panel-heading
      %i.fa.fa-github
      = t 'views.integrations.github'
    .panel-body
      - if current_user.github_account&.owner_id
        = link_to t('users.settings.integrations.title'), ENV['GITHUB_APP_URL'], target: '_blank', class: 'btn btn-default'
      - else
        = link_to '/auth/github', class: 'ui button', data: { confirm: t('.confirm') } do
          %i.github.icon
          = t('activerecord.attributes.user.certification_github')
