.col-xs-12
  .container
    .page-header
      %h3 Pullrequests
    = render 'error_messages', resource: @pull if @pull
    - if @pulls.blank?
      = t '.empty'
      = link_to t('.set_pulls'), ENV['GITHUB_APP_URL'], target: '_blank'
      = link_to t('reviewees.views.configure_github_app'), Settings.qiita.about_install_github_app, target: '_blank'
    - else
      .reviewee-pulls-index-wrapper
        %table.table.table-hover
          %thead
            %tr
              %th.col-sm-4= t 'activerecord.models.pull'
              %th.col-sm-5= t 'activerecord.models.repo'
              %th.col-sm-1= t 'activerecord.models.repo.private'
              %th.col-sm-1= t 'activerecord.attributes.pull.status'
          %tbody
            - @pulls.decorate.each do |pull|
              %tr
                %td= link_to pull.title&.truncate(40), pull.decorate.remote_url, target: 'blank'
                %td.text-center= link_to pull.repo_full_name, pull.repo.decorate.remote_url, target: 'blank'
                %td.text-center= pull.repo.private?
                %td.text-center
                  - if pull.connected? || pull.canceled?
                    = link_to t('views.status.request_reviewed'), reviewees_pull_path(pull.id, status: :request_reviewed), method: :put, class: "btn btn-block #{pull.btn_class_by_status}"
                  - elsif pull.completed?
                    .btn.btn-block{ class: pull.btn_class_by_status }
                      %i.fas.fa-check-circle
                      &nbsp;
                      = I18n.t('views.status.complete')
                  - else
                    = link_to reviewees_pull_path(pull.id, status: :canceled), data: { confirm: t('views.status.confirm_canceled') }, method: :put, class: "btn btn-block #{pull.btn_class_by_status}" do
                      %i.fas.fa-spinner
                      &nbsp;
                      = t('views.status.pending')
        .text-center= paginate @pulls
= javascript_pack_tag 'toggle-button'
