.reviewee-repos-index-wrapper
  .col-xs-12
    .container
      .page-header
        %h3 Repositories
      - if @repos.blank?
        = t 'views.github_apps.install_repositories'
        = link_to t('.add_repo'), ENV['GITHUB_APP_URL'], target: '_blank'
        = link_to t('reviewees.views.configure_github_app'), Settings.qiita.about_install_github_app, target: '_blank'
      - else
        %table.table
          %thead
            %tr
              %th.col-sm-11= t 'activerecord.attributes.repo.title'
              %th.col-sm-1= t 'activerecord.attributes.repo.status'
          %tbody
            - @repos.each do |repo|
              %tr
                %td
                  = link_to repo.full_name, reviewees_repo_contents_path(repo)
                %td
                  - if repo.loading?
                    = image_tag 'loading-content', class: 'img-responsive center-block'
                  - else
                    .text-center
                      %i.fas.fa-check-circle

        .text-center= paginate @repos

        = link_to t('.add_repo'), ENV['GITHUB_APP_URL'], target: '_blank'
