.col-xs-12
  .container
    .page-header
      %h3 Pullrequests
    = render 'error_messages', resource: @pull if @pull
    - if @pulls.blank?
      = t '.empty'
      = link_to t('.set_pulls'), ENV['GITHUB_APP_URL'], target: '_blank'
      = link_to t('reviewees.views.configure_github_app'), Settings.qiita.about_install_github_app, target: '_blank'
    - else
      .reviewee-pulls-index-wrapper
        %table.table.table-hover
          %thead
            %tr
              %th.col-sm-5= t 'activerecord.models.pull'
              %th.col-sm-5= t 'activerecord.models.repo'
              %th.col-sm-1= t 'activerecord.attributes.pull.status'
              %th.col-sm-1
          %tbody
            = render @pulls
        .text-center= paginate @pulls
= javascript_pack_tag 'update-resource'
