= @member.github_account.name
さん、こんにちは。

%br
%br

= @owner.github_account.login
さんから招待されました
%br
%br

= link_to '確認する', Settings.reviewees.memberships.join + "owner_id=#{@encode_owner}&member_id=#{@encode_member}"
