.container-fluid.head
  %p.filter= image_tag 'top.png', class: 'img-responsive filter-img'
  %p
    %h1.top-literal PushRequest
    %p.top-literal.text-center
      PushRequestはコードレビューのマーケットプレイスです
      %br
      あなたのプルリクエストを公開することでコードの品質を上げることができます
    .container
      .col-xs-12
        .col-xs-6
          .text-center
            初めての方
            %br
            = link_to 'Sign up', new_reviewee_registration_path, class: 'btn btn-block btn-primary'
        .col-xs-6
          .text-center
            登録済みの方
            %br
            = link_to 'Sign in', new_reviewee_session_path, class: 'btn btn-block btn-primary'

//
// Live
//
.container-fluid.live-wrapper
  .container
    %h1.text-center Live
    %br
    .text-center.text-muted.sub-line
      .description
        479言語の pullrequest が投稿されます。
        %br
        ユーザーを特定できる情報が漏れることはありません。
        %br
    %table.table.table-hover.pulls-on-dashboard-wrapper
      %thead
        %tr
          %th= t 'activerecord.models.pull'
          %th= t 'activerecord.models.skill'
          %th
      %tbody
        - @pulls.each do |pull|
          %tr
            %td= link_to pull.title&.truncate(40), pull
            %td.text-center
              %span.label.label-warning= pull.repo.skillings.first.skill.name
            %td.text-center= link_to t('helpers.links.confirm'), pull

//
// Demo
//
.container.demo
  .reviewee-dashboard-wrapper
    .demo-wrapper
      %h1.text-center Demo
      .text-center.text-muted.sub-line
        PushRequestでは簡単にレビューをもらうことができる仕組みを構築しています
        %br
        GitHub Appとの連携を終えたあとに2ステップであなたのコードの品質を上げることができます
      .col-xs-12.step-1.text-center
        %h3 STEP 1 プルリクエストの公開
        %small.text-muted
          GitHubから取得したあなたのプルリクエストをレビュワーに公開してみましょう
          「公開する」ボタンを押してください
        %hr
        %table.table.table-hover
          %thead
            %tr
              %th= t 'activerecord.models.pull'
              %th= t 'activerecord.attributes.pull.status'
          %tbody
            %tr
              %td.text-center 決済機能の実装
              %td.text-center
                %button{ type: 'button', class: 'btn btn-primary demo-request-btn' } 公開する
      #demo_img.hidden.col-xs-12.step-1.text-center
        %h3 STEP 2 レビュワーからのコメント
        %small.text-muted
          レビュワーからのコメントがPushRequestを通してあなたのGitHub上のプルリクエストに届きます
        %hr
        = image_tag 'demo.png', class: 'img-responsive'
//
// Example
//
.container-fluid.example-wrapper
  .container
    %h1.text-center Best Practice
    %br
    .text-center.text-muted.sub-line
      .best-practice-description
        期待した結果を得るために
        %br
        効果的なリクエストをしてください。
        %br
        .br
        レビュワーはあなたが書いたコードの背景を
        %br
        理解している訳ではありません。
      .quote-first
        = link_to 'より良いプルリクエストのための10のヒント(原文)', 'http://blog.ploeh.dk/2015/01/15/10-tips-for-better-pull-requests/'
      .quote
        = link_to 'より良いプルリクエストのための10のヒント(翻訳)', 'https://yakst.com/ja/posts/1625', class: 'quote'
      .example
        %h2
          %b.text-center Example
        簡潔なタイトルと最小限の変更にしましょう。
        %br
        例えば、Docker構築のレビューをもらう場合、
        %br
        関連ファイルだけをpullrequestにプッシュしてください。
        = image_tag 'docker.mov', class: 'docker img-responsive center-block'
      .recommend
        %h2
          %b.text-center Recommend
        .sub-line
          キャッチアップできていない分野だけのレビュー
          %br
          時間がない人向けに部分的なコードレビューもオススメです
        .quote
          = link_to '2018年の最先端バックエンドエンジニアに必要なスキルについて考えてみました。', 'https://qiita.com/poly_soft/items/fb649573c19b7a5c0227'
          （Qiitaより引用）
//
// Teaser
//
.container-fluid.teaser-wrapper
  .container
    %h1.text-center To corporate technical staff
    %br
    .text-center.text-muted.sub-line
      コミッターがプロジェクトのコードレビューをします。
      %br
      技術負債の削減・脆弱性の発見と解決案提示を行い、堅牢で綺麗なコードに仕上げることができます。
      %br
      %br
      %br
      = link_to '詳しく読む', 'https://pushrequest.jp/'
      %br
      %br
//
// Get Started
//
.container-fluid.get-started
  .container
    .text-center.start-wrapper
      %h1 Get Started!
      .text-center.start-line
        PushRequestはすぐに利用することができます。
        不明点がある方は運営にお問い合わせください
      .col-xs-12
        .col-xs-6
          .text-center
            初めての方
            %br
            = link_to 'Sign up', new_reviewee_registration_path, class: 'btn btn-block btn-primary'
        .col-xs-6
          .text-center
            登録済みの方
            %br
            = link_to 'Sign in', new_reviewee_session_path, class: 'btn btn-block btn-primary'
= javascript_pack_tag 'demo'
