.container-fluid.head
  %p.filter= image_tag 'top.png', class: 'img-responsive filter-img'
  %p
    %h1.top-literal PushRequest
    %p.top-literal.text-center
      PushRequestはコードレビューのマーケットプレイスです
      %br
      あなたのプルリクエストを公開することでコードの品質を上げることができます
.container
  .reviewee-dashboard-wrapper
    .demo-wrapper
      %h1.text-center Demo
      .text-center.text-muted.sub-demo-line
        PushRequestでは簡単にレビューをもらうことができる仕組みを構築しています
        %br
        GitHub Appとの連携を終えたあとに2ステップであなたのコードの品質を上げることができます
      .col-xs-12.step-1.text-center
        %h3 STEP 1 あなたのプルリクエストをレビュワーに公開しましょう
        %small.text-muted
          GitHubから取得したあなたのプルリクエストをレビュワーに公開してみましょう
          「公開する」ボタンを押してください
        %hr
        %table.table.table-hover
          %thead
            %tr
              %th= t 'activerecord.models.pull'
              %th= t 'activerecord.models.repo'
              %th= t 'activerecord.attributes.pull.status'
          %tbody
            %tr
              %td.text-center 決済機能の実装
              %td
              %td.text-center
                %button{ type: 'button', class: 'btn btn-primary demo-request-btn' } 公開する
      #demo_img.hidden.col-xs-12.step-1.text-center
        %h3 STEP 2 レビュワーからコメントが届く
        %small.text-muted
          レビュワーからのコメントがPushRequestを通してあなたのGitHub上のプルリクエストに届きます
        %hr
        = image_tag 'demo.png', class: 'img-responsive'
.container-fluid.teaser-wrapper
  %hr
  .container
    %br
    %br
    %h1.text-center Best Practice
    %br
    .text-center.text-muted.sub-demo-line
      期待した結果を得るためにもっとも効果的なリクエストをしてください。
      %br
      レビュワーはあなたが書いたコードの背景を理解している訳ではありません。
      %br
      %br
      %br
      = link_to 'より良いプルリクエストのための10のヒント(原文)', 'http://blog.ploeh.dk/2015/01/15/10-tips-for-better-pull-requests/'
      を読む
      %br
      = link_to 'より良いプルリクエストのための10のヒント(翻訳)', 'https://yakst.com/ja/posts/1625'
      を読む
      %br
      %br
      %br
      %h2
        %b.text-center Example
      例えば、Docker構築へのレビューをもらいたい場合、
      %br
      関連ファイルだけをpullrequestに用意してリクエストしてください。
      %br
      %br
      = image_tag 'docker.mov', class: 'img-responsive center-block'
      %br
      %br
      %br
      %br
      トレンドだけど、キャッチアップできていない分野だけのリクエストもおすすめです。
      %br
      以下の記事を参考にしてください。
      %br
      %br
      = link_to '2018年の最先端バックエンドエンジニアに必要なスキルについて考えてみました。', 'https://qiita.com/poly_soft/items/fb649573c19b7a5c0227'
.container-fluid.teaser-wrapper
  %hr
  .container
    %br
    %br
    %h1.text-center To corporate technical staff
    %br
    .text-center.text-muted.sub-demo-line
      コミッターがあなたのプロジェクトのコードレビューを行います。
      %br
      技術負債の削減・脆弱性の発見と解決案提示を行い、堅牢で綺麗なコードに仕上げることができます。
      %br
      %br
      %br
      = link_to 'ティザーサイト', 'https://pushrequest.jp/'
      を用意しています
      %br
      %br
      %br
.container-fluid.footer
  %hr
  .container
    .text-center.start-wrapper
      %h1 Get Started!
      .text-center.start-line
        PushRequestはすぐに利用することができます。
        不明点がある方は運営にお問い合わせください
    .col-xs-6
      .text-center
        初めての方はこちらへ
        %br
        = link_to 'Sign up', new_reviewee_registration_path, class: 'btn btn-block btn-primary'
    .col-xs-6
      .text-center
        すでに登録している方はこちらへ
        %br
        = link_to 'Sign in', new_reviewee_session_path, class: 'btn btn-block btn-primary'
= javascript_pack_tag 'demo'
