.reviewee-wikis-wrapper
  .col-xs-12
    .container
      .row
        .content-show-wrapper
          .page-header
            .pull-right
              - if @repo.loading?
                %i.fas.fa-hourglass-start
                &nbsp;
                = t("reviewees.repos.index.#{@repo.status}")
              - else
                = link_to t("reviewees.repos.index.#{@repo.status}"),
                  reviewees_repo_path(@repo),
                  method: :put,
                  class: "btn #{t("contents.views.buttons.#{@repo.status}")}"
            %h3= @repo.full_name
          = render 'reviewees/shared/repos/tab', repo: @repo
      .row
        .col-sm-12.p-r-0.p-l-0.header
          .page-header
            .pull-right
              = render 'import_form'
            %h3= @wiki.title
      .row
        .col-sm-8.p-l-0
          .md-wrapper= markdown(@wiki.body)
        .col-sm-4.p-r-0
          .panel.panel-default
            .table-wrapper
              %table.table.table-hover
                %tbody
                  = render @home_wiki, repo: @repo
                  = render @wikis, repo: @repo
= javascript_pack_tag 'update-resource'
= javascript_pack_tag 'modal'
