.reviewers-shared-pulls-tab-wrapper
  %ul.nav.nav-tabs.nav-justified
    .text-center= link_to 'Review', file_reviewers_pull_reviews_path(@pull), class: 'btn btn-outline-primary everywhere'
    %li{ class: is_same_controller_and_action_name?('pulls', 'show') }
      = link_to reviewers_pull_path(pull), class: 'nav-link' do
        %i.glyphicon.glyphicon-comment
        &nbsp;
        = t 'reviewers.pulls.show.conversation'
    %li{ class: is_same_controller_and_action_name?('commits', 'index') }
      = link_to reviewers_pull_commits_path(pull), class: 'nav-link' do
        %i.fas.fa-history
        &nbsp;
        = t 'reviewers.pulls.show.commits'
        &nbsp;
        %span.badge.badge-default= pull.commits_count
    %li{ class: is_same_controller_and_action_name?('pulls', 'index') }
      = link_to reviewers_pull_changed_files_path(pull), class: 'nav-link' do
        %i.glyphicon.glyphicon-file
        &nbsp;
        = t 'reviewers.pulls.show.changed_files'
        &nbsp;
        %span.badge.badge-default= pull.files_changed_count
    %li{ class: is_same_controller_and_action_name?('contents', 'index') }
      = link_to reviewers_repo_contents_path(pull.repo), class: 'nav-link' do
        %i.fas.fa-project-diagram
        &nbsp;
        = t 'reviewers.pulls.show.project'
