.container
  .col-xs-12
    .page-header{ 'pull-id': @pull.id }
      %h3
        = @pull.title
        .pull-right.label.label-default= @pull.repo.private == false ? 'public' : 'private'
    = render 'shared/pulls/tab', pull: @pull,  changed_files: @changed_files
    .pulls-conversation-wrapper
      .col-xs-12.col-sm-8
        .pulls-body-wrapper
          - if @pull.agreed?
            .text-danger= t '.expiured_at', time: (l (@pull.updated_at + 2.hours).to_time)
          - if @pull.body.present?
            .pull-body-wrapper
              .card
                .card-header= t '.reviewee_comment'
                .card-body
                  %p#marked-body.card-text
        .pulls-review-comment-wrapper
          - @pull.reviews.each do |review|
            -# 総括コメント
            .card
              .card-body
                .card-text
                  .col-xs-1
                    - if review.reviewer.present?
                      = image_tag review.reviewer.github_account.avatar_url, class: 'review-comment-img avatar img-responsive rounded'
                    - else
                      = image_tag 'https://i.imgur.com/8wkEd8n.jpg', class: 'review-comment-img avatar img-responsive rounded'
                  .col-xs-11.comment-body
                    .nickname
                      - if review.reviewer.present?
                        = review.reviewer.github_account.nickname
                      - else
                        ghost
                    %small.text-muted= date_format(review.updated_at)
                    .col-xs-12= markdown(review.body)
            - review.review_comments.each do |review_comment|
              .col-xs-1.timeline
              .col-xs-11.timeline
                .card
                  .card-header= review_comment.path
                  .card-body
                    .table-wrapper
                      %table
                        %thead
                          %tr
                            %th{ scope: 'col' }
                        - review_comment.includes(:changed_file).target_lines.each_with_index do |line, index|
                          %tbody
                            %tr
                              %td.hidden= index
                              - if line.start_with?('+')
                                %td.markdown-highlight.bg-success.file-code= review_comment.changed_file.decorate.coderay(line)
                              - elsif line.start_with?('-')
                                %td.markdown-highlight.bg-danger.file-code= review_comment.changed_file.decorate.coderay(line)
                              - elsif line.start_with?('@@')
                                %td.markdown-highlight.bg-primary.file-code= simple_format(line)
                              - else
                                %td.markdown-highlight.file-code= review_comment.changed_file.decorate.coderay(line)
                    .card-text
                      -# レビューコメント
                      - review_comment.target_comments.each.with_index(1) do |target_comment, index|
                        = render 'reviewers/pulls/review_comments', review_comment: target_comment, index: index
                        -# - next unless index == review_comments.size
                        -# 返信コメント（レビューコメント） -- Reply
                        - target_comment.replies.each.with_index(1) do |reply, index|
                          = render 'reviewers/pulls/review_comments', review_comment: reply, index: index
                        -# 返信フォーム
                ログインする返信することができます。
                = link_to new_reviewee_session_path do
                  &nbsp;
                  = t('helpers.label.reviewee.log_in')
                = ' または'
                = link_to new_reviewer_session_path do
                  &nbsp;
                  = t('helpers.label.reviewer.log_in')
                %br
                %br

      .col-xs-12.col-sm-4
        .text-center
          .label.label-default= @pull.status_i18n
        - unless @pull.reviewed? || @pull.completed? || @pull.connected?
          %hr
          = link_to @pull.decorate.link_title_by_status, reviewers_pull_path(@pull, status: @pull.status), method: :put, class: "btn btn-block #{@pull.decorate.btn_class_by_status}"
      .comment-wrapper
        - if @pull.reviews.present?
          .col-sm-8.col-xs-12
            .col-xs-12
          .col-sm-4.col-xs-12
= javascript_pack_tag 'marked'
= javascript_pack_tag 'reply'
