.issue-wrapper
  .col-xs-12
    .container
      .row
        .content-show-wrapper
          .page-header
            %h3= @repo.full_name
          = render 'reviewers/shared/repos/tab', repo: @repo
          .col-sm-9.p-r-0.p-l-0
            .page-header
              .pull-right
                .label.label-primary
                  %i.fas.fa-exclamation-circle
                  = @issue.status_i18n
                .label.label-danger
                  %i.fas.fa-user
                  = @issue.publish_i18n
              %h3= @issue.title
            .panel.panel-primary
              .panel-body
                .md-wrapper= markdown(@issue.body)
          .col-sm-3
