- changed_files.each do |changed_file|
  - changed_file.review_comments.order(position: :asc).each do |comment|
    - if comment.self_reviewed?
      .comment-card{ 'comment-position': "#{comment.position}" }
        .text-content
          %p.caption
            = comment.position
            = comment.body
            .content-meta
              - if ReviewComment.where(changed_file_id: comment.changed_file_id, position: comment.position).size >= 2
                .open-comment-btn{ 'changed_file_id': "#{comment.changed_file_id}", 'com_path': "#{comment.path}", 'position': "#{comment.position}" }
                  もっと見る
