.col-xs-12
  .container-fluid.p-r-0.p-l-0
    .page-header{ 'pull-id': @pull.id }
      %h3= @pull.title

    - unless @pending_review
      .col-sm-6.p-l-0
      .col-sm-6.p-r-0
        = form_for [:reviewers, @pull, @review], html: { class: 'form-horizontal', role: 'form' } do |f|
          .data_id{ 'pull-id': @pull.id, 'reviewer-id': current_reviewer.id }
          .reviews-form-wrapper
            .reviews-form-card-wrapper.editor
              = render @changed_files
            %hr
            .review-footer-wrapper
              = f.label :body, for: 'review_body'
              = f.text_area :body, id: 'review_body', class: 'form-control', rows: '3'
              .text-center
                = f.submit t('helpers.links.review'), id: 'submit_review_button', class: 'btn btn-primary review-btn'
                = image_tag 'loading.gif', class: 'loading hidden'
      .col-sm-12
        .panel.panel-default
          .panel-body
            %input{ class: 'form-control search-input', 'repo-id': @pull.repo.id }
    - else
      %h1.text-center 審査中
      %p.text-center 審査が通るまで少々お待ちください

= javascript_pack_tag 'reviews'
= javascript_pack_tag 'search'
