.col-xs-12
  .container
    .page-header{ 'pull-id': @pull.id }
      %h3= @pull.title
    = render 'reviewers/shared/tab', pull: @pull, changed_files: @changed_files

    - unless @pending_review

      = form_for [:reviewers, @pull, @review], html: { class: 'form-horizontal', role: 'form' } do |f|
        .data_id{ 'pull-id': @pull.id, 'reviewer-id': current_reviewer.id }
        .reviews-form-wrapper
          .reviews-form-card-wrapper
            - @changed_files.each do |changed_file|
              .js-blob-wrapper
                .panel.panel-default.changed-file-list-wrapper
                  .panel-heading
                    .pull-right
                      = link_to t('views.view'), reviewers_pull_changed_file_path(@pull, changed_file), class: 'btn btn-default btn-sm'
                    .changed-file-name= changed_file.filename
                  .panel-body.file-border{ 'changed-file-id': changed_file.id }
                    .panel-text
                      .table-wrapper
                        %table
                          %thead
                            %tr
                              %th{ scope: 'col' }
                          %tbody
                            - changed_file.patch&.each_line&.with_index do |line, index|
                              %tr.code-tr{ 'data-line-number': index }
                                - if line.start_with?('+')
                                  %td.markdown-highlight.bg-success.hljs-addition.file-code= changed_file.coderay(line)
                                - elsif line.start_with?('-')
                                  %td.markdown-highlight.bg-danger.hljs-addition.file-code= changed_file.coderay(line)
                                - elsif line.start_with?('@@')
                                  %td.markdown-highlight.bg-primary.hljs-addition.file-code
                                    %pre= line
                                - else
                                  %td.markdown-highlight.hljs-addition.file-code= changed_file.coderay(line)
                              - review_comment = changed_file.review_comments.find_by(position: index, reviewer: current_reviewer, status: :pending)
                              // レビュワー自身のコメントでPendingなものだけ表示
                              - if review_comment && changed_file.present_review_comment?(index) && review_comment.pending?
                                %tr
                                  %td
                                    .review-comments-wrapper
                                      .panel.panel-default
                                        .panel-heading
                                          %span.label.label-warning Pending
                                        .panel-body
                                          .panel-text{ 'review-comment-id': changed_file.review_comment_id(index) }
                                            = markdown(changed_file.review_comment_body(index))
                                          - if changed_file.reviewer?(index, current_reviewer) && review_comment.pending?
                                            .flex-row.text-right
                                              %button{ type: 'button', class: 'btn btn-danger card-link destroy-trigger', data: { confirm: '本当によろしいですか？' } }
                                                %span.glyphicon.glyphicon-trash
                                              %button{ type: 'button', class: 'btn btn-primary card-link edit-trigger' }
                                                %span.glyphicon.glyphicon-pencil
                                              = hidden_field_tag 'reviews[changed_file_ids][]', changed_file.id, class: 'changed_file_id'
                                              = hidden_field_tag 'reviews[path][]', changed_file.review_comment_path(index), class: 'path'
                                              = hidden_field_tag 'reviews[position][]', changed_file.review_comment_position(index), class: 'position'
          %hr
          .review-footer-wrapper
            = f.label :body, for: 'review_body'
            = f.text_area :body, id: 'review_body', class: 'form-control', rows: '3'
            .text-center
              = f.submit t('helpers.links.review'), id: 'submit_review_button', class: 'btn btn-primary review-btn'
              = image_tag 'loading.gif', class: 'loading hidden'
    - else
      %h1.text-center 審査中
      %p.text-center 審査が通るまで少々お待ちください

= javascript_pack_tag 'reviews'
