.review
  .col-xs-12
    .container-fluid.p-r-0.p-l-0
      .page-header{ 'pull-id': @pull.id, 'repo-id': @pull.repo.id }= @pull.title
      - unless @pending_review
        .col-sm-4.p-l-0
          %i.fa.fa-chevron-circle-left.close-left-side
          %ul.nav.nav-tabs
            %li.active
              %a{ 'data-toggle': 'tab', href: '#bodyTab'} チェック項目
            %li
              %a{ 'data-toggle': 'tab', href: '#issueTab' } issue
            %li
              %a{ 'data-toggle': 'tab', href: '#analiticsTab' } 解析
            %li
              %a{ 'data-toggle': 'tab', href: '#commitsTab' } Commits
            %li#searchList
              %a{ 'data-toggle': 'tab', href: '#searchTab' } 検索
          / タブ内容
          .tab-content
            #bodyTab.tab-pane.active
              .pulls-body-wrapper
                .panel.h-550
                  - if @pull.body.present?
                    .panel-body
                      .md-wrapper
                        = markdown(@pull.body)
                  - else
                    チェック項目はありません。
            #issueTab.tab-pane
              .panel.h-550
                - if @issues.blank?
                  .all-center
                    issueはありません
                - else
                  - @issues.each do |issue|
                    .page-header
                      %h4= issue.title
                    .panel-body
                      .md-wrapper= markdown(issue.body)
            #commitsTab.tab-pane.h-550
              .panel.h-550
                .all-center Comming Soon
            #analiticsTab.tab-pane.h-550
              .panel.h-550
                .all-center Comming Soon
            #commitsTab.tab-pane.h-550
              .panel.h-550
                .all-center Comming Soon
            #searchTab.tab-pane
              .search-wrapper
                .panel.h-550.m-t-1
                  #result
                    検索結果が表示されます
                  #fileModal.modal.fade{ tabindex: '-1' }
          .col-sm-12.m-t-1.p-r-0.p-l-0
            .panel.panel-default
              .panel-body
                %input{ class: 'form-control search-input', 'repo-id': @pull.repo.id, placeholder: '検索' }
        #code_note.col-sm-8.p-r-0
          = form_for [:reviewers, @pull, @review], html: { class: 'form-horizontal', role: 'form' } do |f|
            %i.fa.fa-chevron-circle-right.hidden.open-left-side
            .m-b-1.text-right= render 'submit', f: f
            .data_id{ 'pull-id': @pull.id, 'reviewer-id': current_reviewer.id }
            .reviews-form-wrapper
              .reviews-form-card-wrapper.editor
                = render @changed_files.decorate
        .col-sm-3.p-r-0.hidden
          = render 'comment', changed_files: @changed_files
          = render 'comment_modal'

      - else
        %h1.text-center 審査中
        %p.text-center 審査が通るまで少々お待ちください

= javascript_pack_tag 'reviews'
= javascript_pack_tag 'search'
= javascript_pack_tag 'modal'
