= render 'reviewers/shared/tab', pull: @pull

= form_for [:reviewers, @pull, @review], html: { class: 'form-horizontal', role: 'form' } do |f|
  .data_id{ 'pull-id': @pull.id, 'reviewer-id': current_reviewer.id }
  .pulls-show-card
    - @changed_files.each do |changed_file|
      .js-blob-wrapper
        .card
          .card-header= changed_file.filename
          .card-body.file-border{ 'changed-file-id': changed_file.id }
            %p.card-text
              %table
                %thead
                  %tr
                    %th{ scope: 'col' }
                %tbody
                  - changed_file.patch.each_line.with_index do |line, index|
                    %tr.code-tr{ 'data-line-number': index }
                      - if line.start_with?('+')
                        %td.markdown-highlight.bg-success.hljs-addition= changed_file.coderay(line)
                      - elsif line.start_with?('-')
                        %td.markdown-highlight.bg-danger.hljs-addition= changed_file.coderay(line)
                      - elsif line.start_with?('@@')
                        %td.markdown-highlight.bg-primary.hljs-addition= simple_format(line)
                      - else
                        %td.markdown-highlight.hljs-addition= changed_file.coderay(line)
                    - review_comment = changed_file.review_comments.find_by(position: index)
                    - if changed_file.present_review_comment?(index)
                      %tr
                        %td
                          .review-comments
                            .card
                              - unless changed_file.reviewed?(index)
                                .card-header
                                  %span.label.label-warning Pending
                              .card-body
                                %p.card-text{ 'review-comment-id': changed_file.review_comment_id(index) }
                                  = changed_file.review_comment_body(index)
                                %button{ type: 'button', class: 'btn btn-danger card-link destroy-trigger' } Delete
                                %button{ type: 'button', class: 'btn btn-success card-link edit-trigger' } Update
                                = hidden_field_tag 'reviews[changed_file_ids][]', changed_file.id, class: 'changed_file_id'
                                = hidden_field_tag 'reviews[path][]', changed_file.review_comment_path(index), class: 'path'
                                = hidden_field_tag 'reviews[position][]', changed_file.review_comment_position(index), class: 'position'


  .text-center= f.submit t('helpers.links.review'), id: 'submit_review_button', class: 'btn btn-primary'

= javascript_pack_tag 'reviews'
