.col-xs-12
  .container
    .row
      .content-show-wrapper
        - if @other
          %p このページを見るには、メンバー権限が必要です。
        - else
          .page-header
            .pull-right= link_to t("reviewees.repos.index.#{@repo.status}"), reviewees_repo_path(@repo), method: :put, class: "btn #{t("views.statuses.buttons.#{@repo.status}")}"
            %h3= @repo.full_name
          = render 'reviewees/shared/repos/tab', repo: @repo
          .panel.panel-default
            .table-wrapper
              %table.table.table-hover
                %tbody
                  = render @issues
= javascript_pack_tag 'update-resource'
