.issue-wrapper
  .col-xs-12
    .container
      .row
        .content-show-wrapper
          .page-header
            .pull-right= link_to t("reviewees.repos.index.#{@repo.status}"), reviewees_repo_path(@repo), method: :put, class: "btn #{t("contents.views.buttons.#{@repo.status}")}"
            %h3= @repo.full_name
          = render 'reviewees/shared/repos/tab', repo: @repo
          .col-sm-9.p-r-0.p-l-0
            .page-header
              .pull-right
                .label.label-primary
                  %i.fas.fa-exclamation-circle
                  = @issue.status_i18n
                .label.label-danger
                  %i.fas.fa-user
                  = @issue.publish_i18n
              %h3= @issue.title
            .panel.panel-primary
              .panel-body
                .md-wrapper= markdown(@issue.body)
            %button{ type: 'button',
              class: "btn #{t("views.statuses.buttons.#{@issue.publish}")} update-issue-button",
              'issue-id': @issue.id,
              'repo-id': @issue.repo.id }= t "views.statuses.text.#{@issue.publish}"
          .col-sm-3
= javascript_pack_tag 'update-resource'
