- if controller_name == 'welcome'
  %footer
    .col-xs-12
      = link_to 'Twitter', 'https://twitter.com/sagae_kig?lang=ja', target: '_blank'
      |
      = link_to 'Facebook', 'https://www.facebook.com/profile.php?id=100008242595679', target: '_blank'
      |
      = link_to 'RSS', :rss_feed_index
      |
      = link_to '企業向け', 'https://pushrequest.jp/'
      |
      = link_to 'ヘルプ', 'https://hackmd.io/s/B1bv92HIQ'
      |
      = link_to '利用規約', 'https://hackmd.io/s/BkrUv3BLQ'
      |
      = link_to 'セキュリティポリシー', 'https://hackmd.io/s/S1X9tnrLm'
      |
      = link_to 'バグ報告', 'https://github.com/sagaekeiga/push-request-bug'
      %hr
      = render 'social_button'
- else
  %footer.in
    .col-xs-12
      %hr
        = link_to 'Twitter', 'https://twitter.com/sagae_kig?lang=ja', target: '_blank'
        |
        = link_to 'Facebook', 'https://www.facebook.com/profile.php?id=100008242595679', target: '_blank'
        |
        = link_to 'RSS', :rss_feed_index
        |
        = link_to '企業向け', 'https://pushrequest.jp/'
        |
        = link_to 'ヘルプ', 'https://hackmd.io/s/B1bv92HIQ'
        |
        = link_to '利用規約', 'https://hackmd.io/s/BkrUv3BLQ'
        |
        = link_to 'セキュリティポリシー', 'https://hackmd.io/s/S1X9tnrLm'
        |
        = link_to 'バグ報告', 'https://github.com/sagaekeiga/push-request-bug'
