.col-sm-1.col-lg-1
  %nav.navbar.navbar-default.navbar-fixed-side
  %ul.list-group.text-center
    %li.list-group-item
      = link_to reviewers_dashboard_path do
        %i.fas.fa-tachometer-alt
        %br
        %small= t('reviewers.dashboard.title')
    %hr
    %li.list-group-item
      = link_to reviewers_my_page_path do
        %i.fas.fa-user
        %br
        %small= t('reviewers.my_page.title')
    %hr
    %li.list-group-item
      = link_to :reviewers_settings do
        %i.fas.fa-cogs
        %br
        %small.setting= t('reviewees.settings.integrations.title')
    %hr
    %li.list-group-item
      = link_to :skills_reviewers_skillings do
        %i.fas.fa-rocket
        %br
        %small= t 'reviewers.dashboard.skill'
    %hr
    %li.list-group-item
      = link_to 'https://qiita.com/k_s/private/7389692e39b5bea8177a', target: '_blank' do
        %i.fas.fa-info-circle
        %br
        %small= t 'reviewers.dashboard.use'
    %hr
