.reviewee-side-wrapper
  .col-sm-1.col-lg-1
    %nav.navbar.navbar-fixed-side
    %ul.list-group.text-center
      %li.list-group-item
        = link_to reviewees_dashboard_path do
          %i.fas.fa-tachometer-alt{ class: is_same_action_name?('dashboard') }
          %br
          %small{ class: is_same_action_name?('dashboard') }= t('reviewers.dashboard.title')
      %hr
      %li.list-group-item
        = link_to reviewees_pulls_path do
          %i.fas.fa-check-circle{ class: is_same_controller_name?('pulls') }
          %br
          %small{ class: is_same_controller_name?('pulls') }= t('reviewees.pulls.index.title')
      %hr
      %li.list-group-item
        = link_to :reviewees_repos do
          %i.fas.fa-table{ class: is_same_action_name?('repos') }
          %br
          %small{ class: is_same_action_name?('repos') }= t('reviewees.repos.index.title')
      %hr
      %li.list-group-item
        = link_to reviewees_settings_integrations_path do
          %i.fas.fa-cogs{ class: is_same_action_name?('integrations') }
          %br
          %small.setting{ class: is_same_action_name?('integrations') }= t('reviewees.settings.integrations.title')
      %hr
      %li.list-group-item
        = link_to 'https://qiita.com/k_s/private/e999d02b6d7686616ece', target: '_blank' do
          %i.fas.fa-info-circle
          %br
          %small= t 'reviewers.dashboard.use'
      %hr
