.col-sm-1.col-lg-1
  %nav.navbar.navbar-default.navbar-fixed-side
  %ul.list-group.text-center
    %li.list-group-item
      = link_to '#' do
        %i.fas.fa-list-ul
        %br
        %small= t 'side_bar.list'
    %li.list-group-item
      = link_to '#' do
        %i.fas.fa-cogs
        %br
        %small= t 'side_bar.setting_message'
    %li.list-group-item
      = link_to '#' do
        %i.fas.fa-history
        %br
        %small= t 'side_bar.setting_sinario'
    %li.list-group-item
      = link_to '#' do
        %i.fas.fa-envelope
        %br
        %small= t 'side_bar.transmission'
