.container
  .text-center
    %h2= title t('.title')
    %small.text-muted= t '.show_related_selected_skills'
    %hr

  .row
    .col-xs-12
      = form_for(@reviewer, url: reviewers_skillings_path, html: { class: 'form-horizontal skillings-edit-wrapper' }) do |f|
        .card
          .card-body
            .card-header= t 'enums.skill.category.language'
            %p.card-text.text-left
              - [*'a'..'z'].each do |alphabet|
                .page-header= alphabet
                = f.collection_check_boxes(:skill_ids, Skill.top_match_by(alphabet), :id, :name) do |b|
                  .checkbox-inline= b.label { b.check_box + b.text }

        .form-group
          .col-xs-12.col-sm-4.col-sm-offset-4
            = f.submit t('helpers.links.sign_up'), class: 'btn btn-primary btn-block'
            %br
